$white: #ececec;
$black: #323131;
$grey: rgb(185, 184, 184);
$yellow: #fce131;
$background: #151D20

html {
    font-size: 14px;
    height:100%;
}

body{
    padding: 0;
    margin: 0;
    height:100%;

}

